<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Crypto</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="./fetch">Fetch Data From Api</a>
    <a href="./btc">dashboard</a>

  </body>
</html>